.bc{   
  background-color: #042361c7;
  align-items: center; 
  width:100% !important; 
  padding-bottom: 40px;
}
.h{ 
  display: flex;
  justify-content: flex-end; 
  /* background-color: #1e045aa1; */
  background-color: #4C516D;
  margin-bottom: 40px;
}
.s{  
  background-color: #26076e83;
  height:20px;
}
.s1{
  height:27px;
}
.s2{
  display: flex;
  justify-content: flex-start !important;  
  margin-right: 990px;
  height:27px;
}
.fl{
  display: flex;
  flex-direction: row;
  margin:4px;
  margin-top: 4px;
  margin-left: 200px;  
}
.fll{
  display: flex;
  flex-direction: column;
}
.box1{
  height:50vh;
  width:71vh;  
  margin-right: 4px;
}
.box11,.box21{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;  
  background-color: #5D76A9;  
}
.box11{ 
  align-items: baseline;  
  height: 30vh;
  margin-top: -20vh;   
  margin-right: 4px;
  max-width: 442.5px !important;    
  z-index: +1;
}
.doughnut{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px; 
  padding-left: 20px;
}
.d1,.d2,.d3,.d4,.d5,.d6,.d7,.d8,.d9,.d10 {
  margin-top: 2px;  
  border-radius: 100px;
  height: 4px;
  width: 4px;  
}
.d1{
  border: 3px solid #9370db;
}
.d2{
  border: 3px solid #FEBE10;
}
.d3{
  border: 3px solid #696969;
}
.d4{
  border: 3px solid #483D8B;
}
.d5{
  border: 3px solid#F08080;
}
.d6{
  border: 3px solid #00CED1;
}
.d7{
  border: 3px solid white;
}
.d8{
  border: 3px solid black;
}
.d9{
  border: 3px solid white;
}
.d10{
  border: 3px solid #1E90FF;
}
.box21{
  height: 30vh;
  margin-top: -20vh;
  width:35vh;  
  margin-right: 4px;  
  z-index: +2;
}
.b1{
  height:312.5px;
  width:442.5px;
}
.box2{
  height:50vh;
  width:35vh;  
  margin-right: 4px;
}
.b2{
  height:50vh;
  width:35vh;
}
h4{
  color:white;
  margin-left: 20px;
}
p{
  color:white;
  margin-left: 20px;
}
.card{
  margin-top: -20px;
  overflow:hidden;
}
.sn{
  font-size: small;
  margin-left: 8px;  
}
.ct{
  height:30px;
  width:20px;
  margin-left: 20px;
  z-index: +2;
  background-color:#5D76A9;
}
.f1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;
}
.ct1{
  height:20px;
  width:20px;
  margin-left: 20px;
  z-index: +2;
  background-color:#5D76A9;
}
.flr{
  display: flex;
  flex-direction: column;
  margin: auto;
}